* { box-sizing: border-box; }

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
#hero {
    background: no-repeat url('Imgs/JeansBanner.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 675px;
    grid-row: 1 / 3;
    grid-column: 1 / 9;
}
body {
    background-color: #FFFFFF;
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}
header {
    background: rgba(0, 0, 0, 0.7);
    position: sticky;
    height: 125px;
    top: 0px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display:flex;
}

nav {
    width:100%;
    margin: auto;
}
    nav ul{
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    
    }
    nav li{
    border-right: #FFFFFF solid 1px;
    width: 100%;
    }
    nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    text-align: center;
    }
    nav a:hover {
    transition-property:  2s;
    }

.logo {
    width:100%;
    text-align: center;
}
    .logo img {
    height:100%;
    } 

.header-right {
    width:100%
}
    
main {
    grid-row: 3 / 4;
    grid-column: 2 / 8;
    padding: 80px 0;
}
h2 {
    margin: 0;
}
.slider{
    background-color: #FFFFFF;
    display: flex;
}
    .productCard{
        width: 100%;
        text-align: center;
    }
    .productCard img{
        height: 200px;
        width: auto;
        margin: auto;
    }

footer {
    border-top: #000 solid 1px;
    height:200px;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    display: flex;
}
    .socials{
        width: 100%;
    }
    .email{
        width: 100%;
    }