* { box-sizing: border-box; }

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
#hero {
    background: no-repeat url('Imgs/JeansBanner.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 1 / 9;
}
#shophero {
    background: no-repeat url('Imgs/AA574C7B-3605-487F-8C37-4893388C0BBC.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 675px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 3;
    grid-column: 1 / 9;
}
    #hero p{
        background-color: rgba(0, 0, 0, 0.7);
        color: #FFFFFF;
        display: inline-block;
        font-size: small;
    }
    .button{
        background-color: #555;
        opacity: 0.85;
        border: none;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
    }
    .button:hover{
        background-color: #000;
        opacity: 1;
        color: #FFFFFF;
    }
    .button a{
        color: #FFFFFF;
        text-decoration: none;
    }
body {
    background-color: #FFFFFF;
    background-attachment: fixed;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}
header {
    background: rgba(0, 0, 0, 0.7);
    position: sticky;
    height: 125px;
    top: 0px;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    display:flex;
}
#slimheader {
    height: 50px;
    background: #000;
    position: sticky;
}

nav {
    width:100%;
    margin: auto;
}
    nav ul{
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    
    }
    nav li{
    border-right: #FFFFFF solid 1px;
    width: 100%;
    }
    nav a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    text-align: center;
    transition: ease-out;
    }
    nav a:hover {
        border-bottom: #FFFFFF 2px solid;
    }

.logo {
    width:100%;
    text-align: center;
}
    .logo img {
        height:100%;
        width: auto;
    } 

.header-right {
    width: 100%;
    text-align: center;
    margin: auto;
}

h1 {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    display: inline-block;
    margin: 0;
}
main {
    grid-row: 3 / 4;
    grid-column: 2 / 8;
    padding: 80px 0;
}
    h2 {
        margin: 0;
    }
    .slider{
        background-color: #FFFFFF;
        display: flex;
    }
        .productCard{
            width: 100%;
            text-align: center;
        }
        .productCard img{
            height: 200px;
            width: auto;
            margin: auto;
        }

.hoverCards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow:hidden;
    height: 100%;
}

.smallCard {
    width: 50%;
    position:relative;
    overflow:hidden;

}
.smallCard img{
    height: 600px;
    width: 475px;
}
.largeCard {
    width: 100%;
    position:relative;
    overflow:hidden;

}
.largeCard img{
    height: 400px;
    width: 1000px;
}
.description{
    position: absolute;
    left: 25px;
    top: 0;
    display:block;
    text-align:center;
    margin: auto;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    opacity: 0;
    background:rgba(0,0,0,0);
    transition:0.5s ease;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
 }
.smallCard:hover .description, .largeCard:hover .description{
    top: 0px;
    opacity: 1;
    background:rgba(0,0,0,0.7);
}
#contact {
    display: flex;
    flex-direction: row;
}
iframe {
    width: 100%;
}
#flexform {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
#about{
    color: #555;
    
}
#name{
    width: 50%;
}
#myEmail {
    width: 50%;
}
#flexform div input{
    width: 90%;
}
#message {
    width: 100%;
}
#flexform div textarea{
    width: 95%;
}    


footer {
    border-top: #000 solid 1px;
    height:200px;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    display: flex;
}
    .socials{
        width: 100%;
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    #icons {
        padding: 1em;
    }
    .socials a{
        padding: 1em;
    }
    .socials p{
        margin: 0;
    }
    .email{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .emailBar{
        border-bottom: #000 solid 3px;
        display: inline-flex;
        align-items: center;
        
    }
    #email{
        border: none;
        vertical-align: middle;
        
    }
    .emailBar button{
        background-color: #FFFFFF;
        border: none;
    }
    form{ display: inline-block;}
    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 20
    }

@media only screen and (max-width: 768px){
    header, #slimheader{
        height: 10vh;
    }
    #wrapper{
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    }
    #hero {
        height: 85vh;
        background: no-repeat url("Imgs/C991B9DE-4156-4D5C-9BC2-D9F9448A639A.jpg");
        top: 0;
        background-position: center;
        background-size: cover;
    }
    h1{
        font-size: large;
    }
    p {
        font-size: inherit;
    }
    .button{
        background-color: #000;
    }
    .slider{
        flex-direction: column;
    }
    nav{
        background-color: #000;
    }
    nav ul {
        display: none;
    }
    .items {
        padding-top: 100px;
        background: #000;
        height: 100vh;
        max-width: 50vw;
        flex-direction: column;
        padding-left: 0;
        text-align: center;
        }
    nav ul li{
        border: none;
        height: 7%;

    }
    
    nav .hamburger-lines {
        height: 26px;
        width: 32px;
        position: absolute;
        top: 27px;
        left: 25px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
        
    nav .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
        }
        
    /* nav .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
        }
        
    nav .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
        
    nav .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
        } */
    /* nav input[type="checkbox"]:checked ~ .items {
        transform: translateX(0);
    }
    
    nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }
    
    nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }
    
    nav input[type="checkbox"]:checked ~ .logo{
        display: none;
    } */
    .hoverCards{
        flex-direction: column;
    }
    .smallCard, .largeCard {
        width: 100%;
        text-align: center;
    }
    .smallCard img{
        width: 340px;
        height: auto;
    }
    .largeCard img{
        height: 400px;
        width: 340px;
        object-fit: cover;
        object-position: left;
    }
    .description {
        width: 340px !important;
        left: 25px !important;
        opacity: 1;
        background: rgba(0, 0, 0, 0.7);
    }
    footer{
        flex-wrap: wrap-reverse;
        height: auto;}
    .socials {
        padding-bottom: 2em;
    }
    footer .logo{
        width: 45%;
        margin: auto;
    }
    .logo img{
        max-width: 90px;
        height: unset;
    }
    .email{
        width: 55%;
        text-align: left;
    }
}